.task_item {
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
}

.task_item__main_container {
  display: flex;
  align-items: center;
  flex: 1; /* занимает всё доступное пространство */
  justify-content: space-between;
}

.task_item__main_content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* или unset, если нужен полный контроль */
  gap: 15px;
}

.checkbox_form {
  display: flex;
  align-items: center;
  margin: 0;
}

.checkbox_form__checkbox + label {
  margin: 0;
}

.task_item__text {
  font-size: 2rem;
  line-height: 2.5rem;
  flex: 1;
}

.task_item__delete_button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  cursor: pointer;
  justify-content: space-between;
}
