.task_item {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  border-bottom: 2px solid var(--primary-color);
  padding: 10px 0;
}

.task_item__main_content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* распределяет чекбокс и кнопки по краям */
  gap: 15px;
}

.checkbox_form {
  display: flex;
  align-items: center;
  margin: 0;
}

.checkbox_form__checkbox + label {
  margin: 0;
}

.checkbox_form__checkbox:checked + label::before {
  background-color: var(--checkbox-checked-background);
  border-color: var(--checkbox-checked-background);
  color: var(--checkbox-text-color);
}

.checkbox_form__checkbox + label::before {
  content: "\2714";
  border: 0.1em solid var(--checkbox-border-color);
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s ease;
}

.task_item__text {
  font-size: 2rem;
  line-height: 2.5rem;
  flex: 1;
  text-align: left;
}

.task_item__buttons {
  display: flex;
  gap: 10px;
}

.task_item__edit_button,
.task_item__delete_button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  transition: background-color 0.2s ease;
}

.task_item__delete_button:hover {
  background-color: var(--delete-button-background);
}

.task_item__edit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.edit_icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}
