.tasks_list {
  position: relative;
}

.create-task-block {
  position: relative;
}

.create-task-block__input {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);

  font-size: 2rem;
  line-height: 2.5rem;
  height: 40px;
  width: 50%;
  padding: 0;
  margin-bottom: 40px;
}

.create-task-block__button {
  height: 44px;
}

.create-task-block__button,
.task-item__delete-button {
  cursor: pointer;

  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;

  font-size: 1.5rem;
  line-height: 2.5rem;
}

.task-item {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  border-bottom: 2px solid var(--primary-color);
  padding: 10px 0;

  display: flex;
  flex-direction: column;
}

.task_item__main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_item__main-content {
  display: flex;
  align-items: center;
}

.task_item__delete-button {
  transition: 0.2s ease;
}

.task_item__delete-button {
  position: relative;
}

.task_item__delete-button:hover {
  background-color: var(--delete-button-background);
}

.task_item__text {
  font-size: 2rem;
  line-height: 2.5rem;
}

.checkbox_form__checkbox + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

.checkbox_form__checkbox {
  display: none;
}

.checkbox_form__checkbox + label:before {
  content: "\2714";
  border: 0.1em solid var(--checkbox-border-color);
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

.checkbox_form__checkbox + label:active:before {
  transform: scale(0);
}

.checkbox_form__checkbox:checked + label:before {
  background-color: var(--checkbox-checked-background);
  border-color: var(--checkbox-checked-background);
  color: var(--checkbox-text-color);
}

.checkbox_form__checkbox:disabled + label:before {
  transform: scale(1);
}

.checkbox_form__checkbox:checked:disabled + label:before {
  transform: scale(1);
  background-color: var(--checkbox-checked-background);
  border-color: var(--checkbox-checked-background);
}

#tasks {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 20px;
}

.tasks__wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0 40px;
}

.tasks__wrapper_hidden {
  display: none;
}

.main-navigation {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
}

.main-navigation__button-item {
  position: relative;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 25px;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.5rem;
}

.main-navigation__button-item_selected {
  box-shadow: inset 0 0 0 4px #fff;
}

.create-task-block {
  position: relative;
}

.create-task-block__input {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);

  font-size: 2rem;
  line-height: 2.5rem;
  height: 40px;
  width: 50%;
  padding: 0;
  margin-bottom: 40px;
}

.create-task-block__button {
  height: 44px;
}

.create-task-block__button,
.task-item__delete-button {
  cursor: pointer;

  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;

  font-size: 1.5rem;
  line-height: 2.5rem;
}

.task_item {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  border-bottom: 2px solid var(--primary-color);
  padding: 10px 0;

  display: flex;
  flex-direction: column;
}

.task_item__main_content {
  display: flex;
  align-items: center;
}

.task_item__delete-button {
  transition: 0.2s ease;
}

.task_item__delete-button {
  position: relative;
}

.task_item__delete-button:hover {
  background-color: var(--delete-button-background);
}

.task_item__text {
  font-size: 2rem;
  line-height: 2.5rem;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 5px solid rgb(190, 220, 17);
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
